<span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
   <span class="integration-text-color">{{block.data.summary}}</span>
</span>
{{#each details.intel as |result|}}
  {{#if result.malicious_confidence}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
       <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
       <span class="integration-text-color">Confidence: {{result.malicious_confidence}}</span>
    </span>
  {{/if}}
{{/each}}
